build/
*.user
*.user.*
*.pro.user
*.qmake.stash
*.qmake.cache
Makefile
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.log
*.ipch
*.pch
*.qmlproject.user
*.moc
*.qmltypes
*.jucer
*/haretna_data.json
